<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- FA CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">

     <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/modal_form.css">
    <link rel="stylesheet" href="css/toast.css">
    <link rel="stylesheet" href="css/pride.css">
    <style> 
      #addgroup {
        display: none;
      }

      .heads {
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: -1 0 85% 85% / 92%;
        }

        .overlay{
        width: 100%;
        height: 80%;
        color: #FFF;
        text-shadow: 1px 1px 1px black;
        background-image:linear-gradient(to right,  rgba(66, 65, 65, 0.73), rgba(163, 163, 163, 0.73)),
          url("https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300");
        background-repeat: no-repeat !important;
        background-position: 50% 60%;
        }
      </style>

      <script> 
        $(document).ready(function(){
          $("#addbtn").click(function(){
            $("#addgroup").slideToggle("slow");
          });
        });

        function showFullStory()
        {
          document.querySelector(".story-hid").style.display = "inline-block";
          document.querySelector(".story-btn").style.display = "none";
        }

        function hideullStory()
        {
          document.querySelector(".story-hid").style.display = "none";
          document.querySelector(".story-btn").style.display = "block";
        }

      </script>
        
    <!-- Title of Page -->
    <title>FemSTEM</title>
  </head>

  
  <body>
    <%- include('modal_form') %>
    <%- include('toast') %>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #d291bc !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="img/logo-nobg.png" width="250" background= "white" text-indent= "-99999px" style="margin-left: 3%;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
              <% if(currentUser){ %>
                <a class="nav-link nav-link-active" aria-current="page" href="/help">Help</a>
              <% } %>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/tutorials">Tutorials</a>
            </li>
            <li class="nav-item">
              <% if(currentUser){ %>
              <a class="nav-link" aria-current="page" href="/teammates">Teammates</a>
              <% } %>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/opportunities">Opportunities</a>
            </li>
            <li class="nav-item nav-item-active">
              <a class="nav-link" aria-current="page" href="#">Pride</a>
            </li>

            <li class="nav-item" style="background-color: #d291bc !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;">
              <% if(currentUser){ %>
                <a class="nav-link" aria-current="page" href="/profile" style="margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;"><i class="fas fa-user-circle" style="font-size: 36px; margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; color: #FFDFD3;"></i><%= currentUser.name %></a>
                <% } %>
            </li>
           
              <% if(!currentUser){ %>
                <li class="nav-item">
                <a id="modal_btn" class="nav-link btn-get-quote text-white" href="#login">Login</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
                </li>
              <% } %>      
          </ul>
        </div>
      </div>
    </nav>


   <!-- Header Code -->
  <div class="relative">
      <div class="bg-cover h-64 text-center overflow-hidden no-repeat" style="height: 450px; margin-top: 100px; background-image: url('img/pride.jpg')" ></div>
  </div>
    

<div class="quotes page-width">
    <div class="quotes-slide slideshow__slide--active"  data-slider-slide-index="0" aria-hidden="false" tabindex="-1">
        <blockquote class="quotes-slider__text text-left">
            <span class="quote-icon">
              <svg aria-hidden="true" focusable="false" role="presentation"  class="icon icon-quote" viewBox="0 0 41 35">
                    <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"                         ></path>
                </svg>
            </span>

            <div class="content">
                <p>Must go faster. Hey, take a look at the earthlings. Goodbye! I was part of something special. Jaguar
                    shark! So tell me - does it really exist? They're using our own satellites against us. And the clock
                    is ticking. Must go faster... go, go, go, go, go!
                </p>
            </div>
            <cite>Jeff Goldblum</cite>
        </blockquote>
    </div>

    <div class="quotes-slide slideshow__slide--active" data-slider-slide-index="1" aria-hidden="false" tabindex="-1">
        <blockquote class="quotes-slider__text text-left">
            <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                    class="icon icon-quote" viewBox="0 0 41 35">
                    <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                    </path>
                </svg>
            </span>

            <div class="content">
                <p>My experience as a female hacker in a male dominant field has been empowering.
                  Starting off, I was uncertain about my capabilities and was easily intimidated by people who were older and more experienced than me. When I won my first hackathon, I was in disbelief...
                   
                  <button class="btn btn-primary story-btn" onclick="showFullStory()" style="margin-top: 5% !important; float: right !important;">Read More</button>

                    <p class="story-hid" style="display: none;"> 
                      as I thought it was practically chance and I happened to be very lucky.                  
                    However, as I started to develop more hackathon projects, I realized my passion and creativity made me capable of becoming an innovator in the industry. As a result, I started my personal company Frostack Games, becoming one of the few female run companies in the gaming industry.                  
                    These experiences have helped me grow as a person and realize the fullest of my potential. I hope my experiences as a female who found growth within the industry within the matter of months can inspire women to take the chance and reach for their dreams.
                    <button class="btn btn-primary" onclick="hideullStory()" style="margin-top: 5% !important; float: right !important;">Read less</button>
                    </p>
                </p>
            </div>
            <cite>Alexandria Lin</cite>
        </blockquote>
    </div>

    <div  class="quotes-slide slideshow__slide--active"  data-slider-slide-index="2"  aria-hidden="false" tabindex="-1">
        <blockquote class="quotes-slider__text text-left">
            <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                    class="icon icon-quote" viewBox="0 0 41 35">
                    <path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"></path>
                </svg>
            </span>
            <div class="content">
                <p>I am super lucky to have found my female hacking squad and to have met so many amazing and empowered female and non-binary hackers on the way. 
                  I still remember my first hackathon from a few months back where my teammates and I...

                  <button class="btn btn-primary story-btn" onclick="showFullStory()" style="margin-top: 5% !important; float: right !important;">Read More</button>
                  
                  <p class="story-hid" style="display: none;"> stayed up all night working on our mental health hack, at Athena Hacks, each of us supporting and learning so much from each other on the way.
                  It was an incredible experience and the best cherry on the cake was that my teammates Chehak, Nandini, Soumi and I ended up winning a Microsoft sponsored category at the end of the night.
                  All our hard work had paid off and the secret behind that was our entire team had only sheros, sheros who trusted and believed in each other, rather than discounting their efforts or taking credit. 
                  That was the day we knew that we would help more female student hackers like us to find their tribe and be inspired from women techies! Hence, FemSTEM is born.
                  <button class="btn btn-primary" onclick="hideullStory()" style="margin-top: 5% !important; float: right !important;">Read less</button>
                </p>
                </p>
            </div>
            <cite>Swatilekha Roy</cite>
            
        </blockquote>
    </div>

</div>


<section class="spacer">
			
    <div class="testimonial-section">
        <div class="testi-user-img">
        <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                      <div class="swiper-slide">
                            <img class="u3" src="https://analyticsindiamag.com/wp-content/uploads/2018/03/h_51669020-e1520416050635.jpg" alt="">
                        </div>
              <div class="swiper-slide">
                  <img class="u1" src="https://cdn.builtinboston.com/sites/www.builtinboston.com/files/styles/ckeditor_optimize/public/inline-images/unnamed-13_2.jpg" alt="">
              </div>
              <div class="swiper-slide">
              <img class="u2" src="https://miro.medium.com/max/3600/1*z_FOflZWpVR6CaThvcQzeA.jpeg" alt="">
              </div>
          
              <div class="swiper-slide">
              <img class="u4" src="https://www.bu.edu/files/2019/03/resize-18-1086-SHEHACKS-012.jpg" alt="">
              </div>
              
              </div>
          </div>
        </div>
        <div class="user-saying">
              <div class="swiper-container testimonial">
                      <!-- Additional required wrapper -->
                      <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                              <div class="quote" >
                                      <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                  <p >
                                    “The more I study, the more insatiable do I feel my genius for it to be...”
                                  </p>
                                  <div class="name">-Ada Lovelace-</div>
                                  <div class="designation">University Student</div>
                                  
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="quote">
                                    <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                
                                  <p>
                                          “Humans are allergic to change. They love to say, 'We've always done it this way.' I try to fight that. That's why I have a clock on my wall that runs counter-clockwise...“
                                  </p>
                                  <div class="name">-Grace Hopper-</div>
                                  <div class="designation">University Student</div>
                                  
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="quote">
                                    <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                      
                                  <p>
                                          “You’re never too old, and if you want to, as my mother said, you can do anything you want to, but you have to work at it...“
                                  </p>
                                  <div class="name">-Annie Easley-</div>
                                  <div class="designation">University Student</div>
                                  
                              </div>
                          </div>
                          <div class="swiper-slide">
                                  <div class="quote">
                                        <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                     
                                      <p>
                                              “We had the quaint notion at the time that software should be completely, absolutely free of bugs. Unfortunately it’s a notion that never really quite caught on...“
                                      </p>
                                      <div class="name">-Mary Wilkes-</div>
                                      <div class="designation">University Student</div>
                                      
                                  </div>
                              </div>
                          
                      </div>
                      <!-- If we need pagination -->
                      <div class="swiper-pagination swiper-pagination-white"></div>
                  
                  </div>
        </div>
    </div>
</section>


<div style="text-align: center;">
  <h4><a href="mailto:swatilekha.roy4@gmail.com?subject=My%20Tech%20Story!">Share your sucess story with us...</a></h4>

</div>
   
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-left">
            <p>
              <img src="img/favicon.png" style="width: 65px;">  <span style="color: #573f70; font-weight: 600;">Made with <i class="fas fa-heart"></i> by FemSTEM</span>
            </p>        
          </div>
          <div class="col-md-3 offset-md-1 footer-right">
            <a href="https://github.com/Swatilekha-Roy/Fem-STEM"><i class="fab fa-github"></i></a>
						<a href="mailto:swatilekha.roy4@gmail.com"><i class="fa fa-envelope"></i></a>
            <a href="https://discord.gg/CBteqBHz3b"><i class="fab fa-discord"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to top arrow -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up" aria-hidden="true" style="font-size: 30px;"></i></a>

    <!-- JQuery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
    
	<script src="https://md-aqil.github.io/images/swiper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    <!-- Custom scripts -->    
    <script type="text/javascript" src="js/modal.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/pride.js"></script>

    <!-- Userway -->
    <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "E9TGLGySQm");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>

    <!-- WOW animations -->
    <script type="text/javascript">
        new WOW().init();
    </script>
  </body>
</html>