@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.html-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: bolder;
}

.form-box {
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 550px;
    position: relative;
    margin: 1% auto auto auto;
    background: #ffdfd3;
    padding: 5px;
    overflow-x: hidden;
    border-radius: 20px;
    animation-name: topAnimation;
    animation-duration: 0.4s;
}

@media screen and (max-width: 1000px) {
    .form-box {
        margin-top: 5%;
    }
}

@media screen and (max-width: 700px) {
    .form-box {
        margin-top: 9%;
    }
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    color: #f8aa8d;
    font-size: 24px;
}

.button-wrapper {
    width: 270px;
    position: relative;
    background: transparent;
    /* margin-bottom: 100px; */
    margin-top: 8%;
    margin-left: 15%;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0 !important;
    outline: none !important;
    position: relative;
    color: grey;
    margin-right: 5%;
}

.active-modal {
    width: 110px;
    background: #ffdfd3;
    border-radius: 30px;
    transition: 0.3s;
    color: black;
}

.input-container {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    color: #fff;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #957dad;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.cbox {
    margin: 30px 10px 30px 0;
}

.modal-span {
    color: #777;
    font-size: 12px;
    bottom: 71px;
    position: absolute;
}

#login {
    left: 50px;
}

#signup {
    left: 300px;
    visibility: hidden;
}

.register-btn {
    cursor: pointer;
    background: #1e90ff;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
}

.register-btn:hover {
    background: #1174d4;
}

.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

@keyframes topAnimation {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}





.dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
}
.dropdown .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    max-height: 66vh;
    overflow-y: scroll;
}
.dropdown .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
.dropdown .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
}
.dropdown .dropdown-label:before {
    content: '▼';
    float: right;
}
.dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: 0.2s;
}
.dropdown.on .dropdown-label:before {
    content: '▲';
}
.dropdown [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
}
